.singleBooking {
    margin-top: 2rem;
    background-color: white;
    padding: 1.5rem 2rem;
    display: flex;
    max-width: 750px;
    border-radius: 2rem;
    flex-direction: column;
    text-align: center;
    margin: 2rem auto;
}

.booking-option{
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
}

.single-input {
    margin-left: 0;
    align-items: center;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left; /* Align labels to the left */
    width: 100%; /* Take full width for uniformity */
}

input, select {
    width: 100%; /* Full width of the parent container */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.wrap-inp {
    display: flex;
    gap: 1rem;
    justify-content: center; /* Center the contents horizontally */
    align-items: center; /* Center the contents vertically */
    flex-direction: column; /* Stack inputs vertically */
}

.singleBooking-backgroundImage {
    position: absolute;
    left: -150px;
    z-index: -2;
    margin-top: -15rem;
}

.single-bookingWrapped {
    flex: 0.9;
    margin-right: 1rem;
}

.calculate-button{
    padding: 1rem 2.5rem;
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .book-button{
    padding: 1rem 2.5rem;
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .group-button:hover{
    background-color: #e48f0f;
  }

  .single-button:hover{
    background-color: #e48f0f;
  }